name: Vecstore Backend Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: target/aarch64-unknown-linux-gnu
          key: ${{ runner.os }}-cargo-aarch64-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-aarch64-

      - name: Add ARM target
        run: rustup target add aarch64-unknown-linux-gnu

      - name: Install cross 
        run: cargo install cross

      - name: Build for ARM
        run: cross build --release --target aarch64-unknown-linux-gnu

      - name: Deploy to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          source: "target/aarch64-unknown-linux-gnu/release/vecstore-back"
          target: "/home/ubuntu/vecstore-back"

      - name: SSH into VPS and Restart Service
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            chmod +x /home/ubuntu/vecstore-back
            sudo systemctl restart vecstore
