name: Vecstore Backend Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TARGET: aarch64-unknown-linux-gnu
      OPENSSL_DIR: /usr/lib/aarch64-linux-gnu
      OPENSSL_LIB_DIR: /usr/lib/aarch64-linux-gnu
      OPENSSL_INCLUDE_DIR: /usr/include/openssl

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libssl-dev gcc-aarch64-linux-gnu

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ env.TARGET }}

      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Build for ARM64
        run: cargo build --release --target ${{ env.TARGET }}

      - name: Deploy to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          source: "target/${{ env.TARGET }}/release/vecstore-back"
          target: "/home/ubuntu/vecstore-back"

      - name: SSH into VPS and Restart Service
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            chmod +x /home/ubuntu/vecstore-back
            sudo systemctl restart vecstore
